server:
  port: 8080 # API Gateway will run on 8080

spring:
  application:
    name: api-gateway

  data:
    redis:
      host: redis
      port: 6379

  cloud:
    gateway:
      # GLOBAL RATE LIMITER (applies to every route and unmatched paths)
      default-filters:
        - name: RequestRateLimiter
          args:
            "[redis-rate-limiter.replenishRate]": 5     # 5 requests per second
            "[redis-rate-limiter.burstCapacity]": 10    # allow short bursts up to 10
            key-resolver: "#{@ipKeyResolver}"

        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST

      globalcors:
        add-to-simple-url-handler-mapping: true
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
              - "http://127.0.0.1:5173"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            exposedHeaders:
              - "*"
            allowCredentials: true

      routes:
        - id: account-service
          uri: http://account-service:8005
          predicates:
            - Path=/api/v1/accounts/**

        - id: audit-log-service
          uri: http://audit-log-service:8001
          predicates:
            - Path=/api/v1/logs/**

        - id: transaction-service
          uri: http://transaction-service:8003
          predicates:
            - Path=/api/v1/transactions/**

      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
          filters:
            - name: RequestRateLimiter
              args:
                "[redis-rate-limiter.replenishRate]": 5
                "[redis-rate-limiter.burstCapacity]": 10
                key-resolver: "#{@ipKeyResolver}"

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true

eureka:
  client:
    registry-fetch-interval-seconds: 5
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
