server:
  port: 8001

spring:
  application:
    name: audit-log-service
  datasource:
    url: jdbc:mysql://localhost:3306/audit_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      pool-name: HikariCP

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/   # <-- points to the Eureka container
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
