server:
  port: 8001

logging:
  file:
    name: ${LOG_DIR:./logs}/audit-log-service.log
  level:
    root: INFO

spring:
  application:
    name: audit-log-service
  datasource:
    url: jdbc:mysql://localhost:3306/audit_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000
      pool-name: HikariCP

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: audit-log-service-consumer
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    listener:
      missing-topics-fatal: false
app:
  kafka:
    topics:
      financial-transactions: ${KAFKA_TRANSACTION_TOPIC:financial-transactions}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/   # <-- points to the Eureka container
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
